a:link, a:visited {
	display: inline-block;
	position: relative;
	color: inherit;
	z-index: 0;
	text-shadow: 0 1px white, 1px 0 white, -1px 0 white;
}

a:hover {
	text-decoration: none;
}

a::after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 2px solid #bbb;
	margin-top: 4px;
	z-index: -1;
}

a:hover:after {
	border-bottom-color: #0AF;
}

small > a:hover { text-decoration: underline; }
small > a::after { border-bottom: none; }

a:link.inactive {
	color: #bbb;
}

a:link.inactive:after {
	border-bottom: none;
}

a:link.inactive:hover {
	cursor: not-allowed;
}

.list-square {
	list-style-type: square;
}

article footer {
	padding-top: 5px;
	border-top: 1px solid #eee;
	font-size: x-small;
}

pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	display: block;
	padding-left: 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: none;
	word-break: break-all;
	word-wrap: break-word;
	border: none;
	border-radius: 0;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.page-footer {margin-top:1em;border-top:1px solid #aaa;}

/* Lecteur de musique */
.musicplayer {
	position:relative;
	background:#7d7e7d;
	width:256px;
	border:3px solid #0e0e0e;
	overflow:hidden;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5), 5px 5px 10px rgba(0,0,0,0.25);
}
.mp-cover > img {max-width: 100%;}
.mp-songtitle {
	color:white;
	background:#0e0e0e;
	padding:4px 6px;
	font-size:x-small;
	border-bottom:1px solid #777;
}
.mp-cover > progress[value] {
	-webkit-appearance:none;
	-moz-appearance:progressbar;
	display:block;
	width:100%;
	height:2px;
	box-sizing:border-box;
	border:none;
	margin:0;
}
progress::-webkit-progress-value {background:#f40;}
progress::-moz-progress-bar {background:#f40;}
.mp-controls {
	background: #0e0e0e;
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	border:none;
	width:100%;
	margin:5px 0 0 0;
}
.mp-progressbar {
  width:100%;
  height:2px;
  position:relative;
  display:block;
}

.mp-progressbar > span {background-color:blue;display:block;text-indent: -9999px;}

.mp-btn, .mp-time {
	width:38px;
	height:38px;
	line-height:38px;
	display:inline-block;
	margin:0;
	background: none;
	border:none;
	color:white;
}
.mp-btn > span {transition:color 0.2s ease;}
.mp-btn:hover span {color:#49f;}
.mp-btn-mute > span {color:#f40;}
.mp-time {
	font-size:x-small;
	vertical-align:middle;
	text-align:center;
	border-left:1px solid rgba(255,255,255,0.15);
}