body {
	font-family: Georgia,Palatino,Garamond,Times,serif;
}

.wrapper {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	margin-bottom: 60px;
}

.page-title {
	font-size: 3.6em;
}


/* MENUS */
.menu {
	list-style: none;
	padding-left: 0;
}

.menu .menu-item {
	display: inline-block;
}

.menu .menu-item a:link, .menu .menu-item a:visited {
	display: block;
	color: white;
	padding: .8em;
	background-color: black;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s ease;
}

.menu .menu-item a:hover {
	background-color: #F40;
	transform: scale(1.2);
}


/* ELEMENTS DE PAGE */
.page-article {
	margin-bottom: 40px;
}

.page-sidebar {
	float: left;
	width: 180px;
	margin-right: 10px;
}

.page-sidebar a:link, .page-sidebar a:visited {
	text-decoration: none;
	color: #FF4400;
}

.page-sidebar a:hover {
	color: black;
}

.sidebar-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.sidebar-list li:before {
	content: "· ";
}

.page-sidebar h4, .article-title {
	margin-top: 0;
}

.page-sidebar, .page-content {
	padding-top: 1em;
}

.page-content, .page-footer {
	width: 570px;
	float: right;
}

.article-title, .article-meta {
	font-family: Helvetica,Arial,Verdana,"Trebuchet MS",sans-serif;
}

.article-title {
	font-size: 1.8em;
	margin-bottom: 0;
}

.article-meta {
	color: rgb(100,100,100);
	font-size: 0.8em;
	margin-top: 5px;
}

.article-meta:before {
	content: "• ";
}

.article-author, .article-date, .article-category {
	font-weight: bold;
}

.article-author {
	color: white;
	font-size: 0.8em;
	background-color: rgb(100,100,100);
	padding: 2px;
	border-radius: 2px;
}

article a:link, article a:visited {
	color: rgb(100,100,100);
	text-decoration: none;
}

article a:hover {
	color: black;
	text-decoration: underline;
}

.article-footer {
	text-align: right;
}

.article-footer a:link:before {
	content: "#";
	color: black;
}

/*
.img-left {
	float: left;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 0;
}
*/

.align-center {
	text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width:760px) {
	.wrapper {width:100%;}
	.page-sidebar {float:none;display:none;}
	.page-content, .page-footer {float:none;width:100%;}
}